<%= form_for(@biz) do |f| %>
  <% if @biz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biz.errors.count, "error") %> prohibited this biz from being saved:</h2>

      <ul>
      <% @biz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :fact %><br>
    <%= select_tag "biz[fact]", options_for_select( @potential_facts.map(&:first).each {|fact| [fact[0], fact[0]]} , @biz.fact.to_s ), {prompt: "Select Fact", :class => 'biz_factt'}  %>
  </div>
  <div class="field">
    <table>
      <thead>
        <th>Dimension</th>
        <th>Measurements</th>
        <th></th>
      </thead>
      <tbody>
      <div id="dimensions_measures" >
        <% (0..@count-1).each do |myb| -%>
            <div id='<%= "morediv#{myb}" -%>'>
              <tr>
                <td><%= select_tag "biz[dimensions_#{myb}]", options_for_select( @dimensions.each { |name| [name, name] }, @biz["dimensions"][myb].to_s ), {prompt: "Select Dimensions", :class => "dim_selection", :id => "biz_dimension#{myb}"} %></td>
                <td><%= select_tag "biz[measures_[#{myb}]]", options_for_select( @biz["measures"][myb].each { |name| [name, name] }, @biz["measures"][myb] ) , { prompt: "Selected Measures" , multiple: true, size: 6, :id => "biz_measures#{myb}" }  %></td>

              </tr>
            </div>
        <% end %>
        <% if @dims.present? %>
        <div id='<%= "morediv#{@count}" -%>'>
          <tr>
            <td><%= select_tag "biz[dimensions_#{@count}]", options_for_select( @dims.each { |name| [name, name] }, @biz["dimensions"][@count].to_s ), {prompt: "Select Dimensions", :class => "dim_selection", :id => "biz_dimension#{@count}"} %></td>
            <td><%= select_tag "biz[measures_[#{@count}]]", options_for_select( @default_measures.each_with_index { |name, idx| [name, idx] }, @biz["measures"][@count] ) , { prompt: "Select Measures" , multiple: true, size: 6, :id => "biz_measures#{@count}" }  %></td>
            <td><%= f.submit "+Add", name: "add_dimension" -%></td>

          </tr>
        </div>
        <% end %>
      </div>
      </tbody>
    </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>



