<%= form_for(@biz) do |f| %>
  <% if @biz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biz.errors.count, "error") %> prohibited this biz from being saved:</h2>

      <ul>
      <% @biz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% model_array = @my_biz.map{|klass| [klass.name, klass.column_names, klass.reflections.keys]} %>
  <div class="field">
    <%= f.label :fact %><br>
    <%= f.select :fact, options_for_select( @my_facts.each {|name| [name, name]} , @biz.fact.to_s ), prompt: "Please select Fact table"  %>
  </div>
  <div class="field">
    <table>
      <thead>
        <th>Dimension</th>
        <th>Measurements</th>
      </thead>
      <tbody>

      <% (0..@my_biz.size-1).each do |myb| -%>
      <div>
        <tr>
          <td><%= select_tag "biz[dimensions_#{myb}]", options_for_select( @dimensions.each { |name| [name, name] }, @biz["dimensions"][myb].to_s ), {prompt: "Select Dimensions", :class => "dim_selection", :id => "biz_dimension#{myb}"} %></td>
          <td><%= select_tag "biz[measures_[#{myb}]]", options_for_select( @default_measures.each_with_index { |name, idx| [name, idx] }, @biz["measures"][myb].to_s ) , { prompt: "Select Measures" , multiple: true, size: 6, :id => "biz_measures#{myb}" }  %></td>
        </tr>
      </div>
      <% end %>

      </tbody>
    </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>