<p id="notice"><%= notice %></p>

<h1>Listing Bizs</h1>

<table>
  <thead>
    <tr>
      <th>Fact</th>
      <th>Dimensions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bizs.each do |biz| %>
      <tr>
        <td><%= biz.fact %></td>
        <td><%= biz.dimensions %></td>
        <td><%= link_to 'Show', biz %></td>
        <td><%= link_to 'Edit', edit_biz_path(biz) %></td>
        <td><%= link_to 'Destroy', biz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biz', new_biz_path %>
