<p id="notice"><%= notice %></p>

<p>
  <strong>Fact:</strong>
  <%= @biz.fact %>
</p>

<table>
  <thead>
    <th>Dimensions</th>
    <th>Measures</th>
  </thead>
  <tbody>
  <% (0..@biz.dimensions.size-1).each do |myb| -%>
  <tr>
    <td><%= @biz.dimensions[myb] %></td>
    <td><%= @biz.measures[myb].tr('^a-z,',"").split(",").map(&:capitalize) %></td>
  </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'Edit', edit_biz_path(@biz) %> |
<%= link_to 'Back', bizs_path %>
