<p id="notice"><%= notice %></p>

<p>
  <strong>Total amt:</strong>
  <%= @sale.total_amt %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @sale.salesperson %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
